@{
    Layout = null;
}

<h1>Add Cheese</h1>

<form method="post">
    <label>Cheese<input name="name" type="text"/></label> 
    <label>Description<input name="describe" type="text"/></label>
    <input type="submit" value="Add Cheese" />
</form>